@import '../../variables';



.top {
    margin: auto 0 50px;

    &__head {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 15px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 345px;
        list-style-type: none;
    }

    &__item {
        padding-top: 15px;
        background: $white;
        border-radius: 15px;
        width: 160px;
        height: 170px;
        transition: all .1s linear;

        &:hover {
            transform: scale(1.02);
        }

        &-link {
            display: inline-block;
            width: 100%;
            height: 100%;

            text-decoration: none;
            outline: $outlineLink;
        }

        &-head {
            display: inline-block;
            padding-left: 25px;
            margin-bottom: 10px;
            position: relative;
            color: $black;
            font-weight: 500;
            font-size: 18px;

            &::before {
                content: '';
                width: 25px;
                height: 100%;
                position: absolute;
                top: 0;
                left: 108%;

                background-color: transparent;
                background: url(../../../assets/img/top/arrow-dog.png) no-repeat 50%;
                background-size: 25px;

                animation: arrow-animals .5s infinite linear;
            }

            &--arrow {
                &::before {
                    background-image: url(../../../assets/img/top/arrow-parrot.png);
                }
            }
        }

        &-img {
            &--center {
                display: block;
                margin: 0 auto;
            }
        }
    }
}

@keyframes arrow-animals {
    0% {left: 108%;}
    25% {left: 109%;}
    50% {left: 110%;}
    75% {left: 109%;}
    100% {left: 108%;}
}