@import './variables';
@import './libs/normalize';
@import './fonts';

@import './components/all';

body {
    height: 100%;
    width: 100%;
    background: $body;

    font-family: Montserrat, sans-serif;
    font-size: 15px;
    
}

.container {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.main {
    min-height: 83vh;
}